@import './constants.css';

#main-content img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main-content .hero {
    position: relative;
    background-color: var(--azul-noche);
    min-height: 15svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content .hero h1 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

#main-content .hero::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

#main-content section {
    font-size: 1.3125rem;
    max-width: 1400px;
    margin-inline: auto;
    line-height: 2rem;
    padding: 50px;
}

#main-content section h1 {
    margin-bottom: 20px;
}

#main-content section p {
    text-align: justify;
}

#main-content .img-container {
    max-width: 400px;
}

#main-content .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

#main-content .info-text {
    max-width: 800px;
}

@media (width <=1320px) {
    #main-content .info-text {
        max-width: 600px;
    }
}

#main-content .values {
    text-align: center;
}

#main-content .values ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
}

#main-content .values ul>li {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px;
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 0;
}

#main-content .values ul>li h2 {
    color: var(--azul-noche);
    margin-bottom: 10px;
}

#main-content .value-text {
    max-width: 100%;
}