@import './constants.css';

#main-content img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

#main-content header {
    background-color: var(--headerBackground);
    display: flex;
    justify-content: center;
    padding: 20px;
}

#main-content section {
    font-size: 18px;
    margin-inline: auto;
    margin-top: 30px;
    max-width: 100%;
    padding: 10px 70px;
}

#main-content section h1 {
    text-align: left;
    margin-bottom: 20px;
}

#main-content section p {
    line-height: 32px;
}

#main-content .img-container {
    max-width: 500px;
    min-width: 100px;
}

#main-content .info {
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 50px;
    margin-bottom: 100px;
}

#main-content .info-text {
    max-width: 750px;
}

#main-content .values {
    max-width: 100%;
    margin-bottom: 80px;
}

#main-content .values ul {
    list-style: none;
    text-align: justify;
    margin-top: 40px;
}

#main-content .values h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

#main-content .values li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}

#main-content .value-img {
    max-width: 250px;
    min-width: 50px;
}

#main-content .value-text {
    max-width: 800px;
}