@import './constants.css';

#main-content img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main-content .hero {
    background-image: url("/matsin-web-page/images/varios/Nosotros.jpg"), url("/images/varios/Nosotros.jpg");
    background-size: cover;
    background-position: center 60%;
    min-height: 40svh;

    position: relative;
    isolation: isolate;
}

#main-content .hero::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

#main-content section {
    font-size: 1.3125rem;
    max-width: 1400px;
    margin-inline: auto;
    line-height: 2rem;
    padding: 50px;
}

#main-content section h1 {
    text-align: left;
    margin-bottom: 20px;
}

#main-content .img-container {
    max-width: 400px;
}

#main-content .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

#main-content .info-text {
    max-width: 800px;
}

@media (width <= 1320px) {
    #main-content .info-text {
        max-width: 600px;
    }
}

#main-content .values ul {
    list-style: none;
    margin-top: 40px;
}

#main-content .values ul>li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 2rem;
    margin-inline: auto;
}

#main-content .value-img {
    max-width: 300px;
    aspect-ratio: 5/4;
}

#main-content .value-text {
    max-width: 800px;
}