@import './constants.css';

/* about */
#main-content header {
    text-align: center;
    background-color: var(--headerBackground);
}

#main-content section {
    text-align: center;
    font-size: 18px;
    gap: 50px;
    width: 90%;
    max-width: 1420px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#main-content section img {
    width: 90%;
    max-width: 540px;
}

#main-content section h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#main-content section p {
    width: 90%;
    line-height: 32px;
}

#main-content section.company {
    margin-top: 30px;
}

#main-content section.company p {
    max-width: 1100px;
    margin: 0 auto;
}

#main-content section.mission {
    text-align: justify;
    display: flex;
}

#main-content section.mission p {
    max-width: 830px;
}