@import './constants.css';

/* about */
#main-content header {
    text-align: center;
    background-color: var(--headerBackground);
    padding: 20px;
    border-radius: 12px;
}

#main-content header img {
    max-width: 1000px;
    height: auto;
}

#main-content section {
    text-align: center;
    font-size: 18px;
    max-width: 1420px;
    margin: 0 auto 100px;
}

#main-content section img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#main-content section h2 {
    text-align: left;
    margin: 30px auto 20px;
}

#main-content section p {
    width: 100%;
    line-height: 32px;
}


#main-content section.info {
    text-align: justify;
    align-items: center;
    display: flex;
    gap: 30px;
}

#main-content section.info div {
    width: 90%;
    max-width: 750px;
}

#main-content section.values ul {
    list-style: none;
    text-align: justify;
    margin: 40px auto 0px;
}

#main-content section.values h3 {
    font-size: 18px;
    font-weight: 500;
}

#main-content section.values li {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 50px;
}

#main-content section.values li div {
    width: 90%;
    max-width: 900px;
}

#main-content section.values li p {
    width: 90%;
    max-width: 1000px;
}

#main-content section.values img {
    max-width: 320px;
    height: auto;
    display: block;
}
