:root {
    --arcilla: #C45452;
    --newArcilla: #993D31;
    --logoBackground: #FDFCE7;
    --newBackground: #efe7dc;
    --footerBackground: #A9110E;
    --headerBackground: rgba(196, 84, 82, 0.20);
    --darkBarro: #33170B;
    --barroBackground: #5C4033;
    --pageUrl: 'matsin-web-page'
}