:root {
    --arcilla: #C45452;
    --newArcilla: #993D31;
    --logoBackground: #FDFCE7;
    --newBackground: #EFD9B4;
    --footerBackground: #A9110E;
    --headerBackground: rgba(196, 84, 82, 0.20);
    --darkBarro: #33170B;
}