:root {
    --arcilla: #E87A5D;
    --newArcilla: #C35B48;
    --logoBackground: #FDFCE7;
    --newBackground: #F4E8D1;
    --footerBackground: #D86B4C;
    --headerBackground: rgba(232, 122, 93, 0.20);
    --darkBarro: #4A2B20;
    --barroBackground: #7A4936;
    --pageUrl: 'matsin-web-page'
}