:root {
    --rojo-vino: #9B1C1C;
    --azul-noche: #162D55;
    --azul-acero: #3B6EA5;
    --azul-claro: #EAF1FB;
    --gris-perla: #E8E8E8;

    --newBackground: var(--azul-claro);
    --footerBackground: var(--azul-noche);
    --headerBackground: var(--gris-perla);
    --arcilla: var(--azul-acero);
    --darkBarro: var(--azul-noche);
    --pageUrl: 'matsin-web-page'
}