@import './constants.css';

#main-content section h1 {
    text-align: left;
    font-size: 32px;
}

#main-content section p {
    text-align: justify;
    font-size: 21px;
}

#main-content .intro {
    background-color: var(--newArcilla);
    color: white;
    padding: 50px;
}

#main-content .intro-info {
    max-width: 1200px;
    margin-inline: auto;
}

#main-content h1 {
    margin-bottom: 20px;
}


#main-content .creators {
    padding: 50px;
    margin-inline: auto;
}

#main-content .creators-intro {
    max-width: 1200px;
}

#main-content .creators-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
    padding-block: 50px;
    justify-content: center;
    margin-inline: auto;
}

#main-content .creators-info h2 {
    font-size: 21px;
}

#main-content .creators-info h3 {
    font-size: 18px;
}

#main-content .creators-info p {
    font-size: 18px;
    text-align: left;
}

#main-content .creator-card {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main-content .location-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-content .img-container {
    max-width: 140px;
    max-height: 140px;
}

#main-content img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}