@import './constants.css';

#main-content section h1 {
    text-align: left;
    font-size: 32px;
}

#main-content section p {
    text-align: justify;
    font-size: 21px;
}

#main-content .intro {
    background-color: var(--newArcilla);
    color: white;
    padding: 0 100px 50px;
}

#main-content .intro-info {
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 10%;
}

#main-content .intro-info h1 {
    margin-bottom: 20px;
}


#main-content .creators {
    padding: 50px 100px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-inline: auto;
}

#main-content .creators-intro {
    max-width: 1400px;
}

#main-content .creators-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 70px;
    justify-content: center;
}

#main-content .creators-info h2 {
    font-size: 21px;
}

#main-content .creators-info h3 {
    font-size: 18px;
}

#main-content .creators-info p {
    font-size: 18px;
    text-align: left;
}

#main-content .creators-info div {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#main-content .creators-info div div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-content .creators-info img {
    border-radius: 80px;
    height: 140px;
    width: 140px;
    object-fit: cover;
}