@import './constants.css';

#main-content img {
    inline-size: 100%;
    display: block;
    object-fit: cover;
}

#main-content .home-header {
    background-color: var(--barroBackground);
    background-image: url("/matsin-web-page/images/home/Inicio.jpg"), url("/images/home/Inicio.jpg");
    background-size: cover;
    background-position: center 70%;

    padding-top: 30svh;
    padding-bottom: 5svh;
    padding-inline: 50px;
    width: 100%;
    min-height: 40svh;
    position: relative;
    isolation: isolate;

    font-family: "DM Serif Text", serif;
    font-size: 32px;
    color: white;
}

#main-content .home-header::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.786));
}

#main-content section {
    line-height: 32px;
}

#main-content .video-process {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    align-items: center;
}

#main-content .video-process h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    text-transform: uppercase;
}

#main-content .video-container {
    max-width: 1000px;
}

#main-content .creators {
    background-color: var(--barroBackground);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
    gap: 50px;
    color: white;
    font-size: 21px;
}

#main-content .creators-info {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 20px;
}

#main-content .creators a {
    max-width: fit-content;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: var(--darkBarro);
    border-radius: 8px;
    border: none;
    font-size: 19px;
}

#main-content .img-container {
    max-width: 400px;
    max-height: 350px;
    overflow: clip;
    border-radius: 20px;
}

#main-content .process {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 50px;
    max-width: 1200px;
    margin-inline: auto;
}

#main-content .process h1 {
    font-size: 32px;
}

#main-content .process h2 {
    font-size: 24px;
}

#main-content .process p {
    font-size: 21px;
    word-wrap: break-word;
}

#main-content .scroller {
    max-width: auto;
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    grid-template-columns: normal;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    padding-bottom: 20px;
}

@media (width <=425px) {
    #main-content .scroller {
        grid-auto-columns: 100%;
    }
}

@media (425px < width < 700px) {
    #main-content .scroller {
        grid-auto-columns: 80%;
    }
}

#main-content .scroller-element {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

#main-content .scroller i {
    margin-block: auto;
}

#main-content .scroller-img>img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    border-radius: 8px;
}

#main-content .scroller-img {
    display: grid;
    grid-template-rows: min-content;
    gap: 10px;
    border-radius: 12px;
    padding: 14px;
    color: white;
    background-color: var(--newArcilla);
}

#main-content .scroller p {
    font-size: 14px;
}

/* #main-content .carousel-container {
    max-width: 100%;
}

#main-content .carousel {
    border: 1px solid red;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    align-items: center;
}

#main-content .carousel-element {
    border: 1px solid red;
    max-width: 400px;
    flex-shrink: 0;
}

#main-content .carousel-img {
    max-height: 320px;
    border-radius: 20px;
    overflow: clip;
}


#main-content .carousel-element p {
    font-size: 14px;
    width: 100%;
    border: 1px solid red;
} */