@import './constants.css';

#main-content header {
    padding: 70px 50px;
    border-radius: 12px;
    background-image: url("/images/home_header.png"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.786));
    background-size: cover;
    height: 390px;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    font-family: "DM Serif Text", serif;
    font-size: 32px;
    color: white;
    margin: 0 auto;
}

#main-content section {
    text-align: center;
    line-height: 32px;
}

#main-content .video-process {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#main-content .video-process h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin: 0;
}

#main-content .video-process {
    padding: 30px;
}

#main-content .video-process h1 {
    margin: 0;
}

#main-content .creators {
    background-color: var(--newArcilla);
    display: flex;
    align-items: center;
    color: white;
    padding: 30px 250px;
    gap: 50px;
    font-size: 21px;
    text-align: left;
    justify-content: center;
}

#main-content .creators h1 {
    text-align: left;
    font-size: 32px;
    margin: 0 0;
}

#main-content .creators-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#main-content .creators a {
    width: fit-content;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: var(--darkBarro);
    border-radius: 8px;
    border: none;
    font-size: 19px;
}

#main-content .creators img {
    height: 90%;
    max-height: 450px;
    width: auto;
    object-fit: cover;
}

#main-content .process {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 250px;
}

#main-content .process h1 {
    text-align: left;
    font-size: 32px;
    margin: 0;
}

#main-content .process h2 {
    text-align: left;
    font-size: 24px;
    margin: 0;
}

#main-content .process p {
    font-size: 21px;
    text-align: left;
}

#main-content .carousel {
    margin: 0 auto;
    width: 100%;
    max-width: 1030px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#main-content .carousel img {
    width: 450px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}