@import './constants.css';

#main-content img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

#main-content header {
    padding: 70px 50px;
    background-image: url("images/placeholder.png"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.786));
    background-size: cover;
    width: 100%;
    min-height: 390px;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    font-family: "DM Serif Text", serif;
    font-size: 32px;
    color: white;
}

#main-content section {
    text-align: center;
    line-height: 32px;
}

#main-content .video-process {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

#main-content .video-process h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin: 0;
}

#main-content .video-process {
    padding: 30px;
}

#main-content .video-process h1 {
    margin: 0;
}

#main-content .video-container {
    max-width: 800px;
}

#main-content .creators {
    background-color: var(--newArcilla);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
    gap: 50px;
    color: white;
    font-size: 21px;
    text-align: left;
}

#main-content .creators h1 {
    text-align: left;
    font-size: 32px;
}

#main-content .creators-info {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 20px;
}

#main-content .creators a {
    width: fit-content;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: var(--darkBarro);
    border-radius: 8px;
    border: none;
    font-size: 19px;
}

#main-content .img-container {
    max-width: 400px;
}

#main-content .process {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 50px;
    max-width: 1200px;
    margin-inline: auto;
}

#main-content .process h1 {
    text-align: left;
    font-size: 32px;
    margin: 0;
}

#main-content .process h2 {
    text-align: left;
    font-size: 24px;
    margin: 0;
}

#main-content .process p {
    font-size: 21px;
    text-align: left;
}

#main-content .carousel-container {
    margin-inline: auto;
    max-width: 950px;
}

#main-content .carousel {
    display: flex;
    gap: 31px;
    overflow-x: auto;
    align-items: center;
}

#main-content .carousel-img {
    width: 100%;
    max-width: 400px;
    flex-shrink: 0.03;
}