@import './constants.css';

#main-content header {
    text-align: center;
    background-color: var(--headerBackground);
    padding: 20px;
    border-radius: 12px;
}

#main-content section {
    text-align: center;
}

#main-content section h2 {
    margin: 30px 0;
}