@import './constants.css';

#main-content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    font-size: 21px;
    font-weight: normal;
}

#main-content img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main-content .info {
    max-width: 1200px;
    margin-inline: auto;
}

#main-content .info h1 {
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
}

#main-content .img-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#main-content .img-container {
    max-width: 400px;
}

#main-content .ambiental {
    background-color: #b05d39;
    color: white;
}