@import './constants.css';

#main-content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    font-size: 21px;
    font-weight: normal;
}

#main-content img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

#main-content .info {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;
    margin-inline: auto;
}

#main-content section h1 {
    font-size: 32px;
    text-align: left;
    margin: 0 0;
}

#main-content .img-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#main-content .img-container {
    max-width: 400px;
}

#main-content .social {
    background-color: white;
    color: black;
}

#main-content .ambiental {
    background-color: #b05d39;
    color: white;
}