@import './constants.css';

#main-content {
    text-align: center;
}

#main-content .product-wrapper {
    padding: 50px;
}

#main-content button {
    background: none;
    border: none;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

#main-content .route {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center;
    font-size: 1.3125rem;
}

#main-content .route a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

#main-content .back-button {
    margin: 0 auto 50px;
    justify-content: center;
    text-transform: uppercase;
}

#main-content .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
    max-width: 1750px;
    margin-inline: auto;
}

#main-content .slider {
    display: grid;
    grid-auto-flow: column;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;

}

#main-content .img-wrapper {
    max-width: 500px;
    max-height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    aspect-ratio: 5 / 4;
    overflow: clip;
}

#main-content img {
    max-width: 100%;
    display: block;
}

#main-content .product-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    max-width: 500px;
}

#main-content .product-info h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

#main-content .product-info h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
}

#main-content .product-info p {
    font-size: 1.25rem;
}