@import './constants.css';

#main-content {
    text-align: center;
}

#main-content .product-wrapper {
    padding: 50px;
}

#main-content button {
    background: none;
    border: none;
    font-size: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

#main-content .route {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center;
    font-size: 21px;
}

#main-content .route a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

#main-content .back-button {
    margin: 0 auto 50px;
    justify-content: center;
    text-transform: uppercase;
}

#main-content .product-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#main-content .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    gap: 50px;
    padding: 20px;
}

#main-content .slider img {
    width: 100%;
    max-height: 488px;
    object-fit: cover;
}

#main-content .product-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

#main-content .product-info h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

#main-content .product-info h2 {
    font-weight: 400;
    font-size: 24px;
}

#main-content .product-info p {
    font-size: 20px;
}