@import './constants.css';

#main-content header {
    text-align: center;
    background-color: var(--headerBackground);
    min-height: 400px;
}

#main-content h1 {
    font-size: 2rem;
    text-align: center;
}

#main-content section {
    text-align: center;
    line-height: 32px;
    padding: 50px;
}

#main-content .questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#main-content .questions p {
    text-align: justify;
}

#main-content .questions details {
    color: white;
    text-align: left;
    width: 100%;
    max-width: 1000px;
    border-radius: 12px;
    background-color: var(--azul-noche);
    margin-inline: auto;
    padding: 20px 30px;
}

#main-content .questions summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    font-weight: 600;
    font-size: 1.3125rem;
}

#main-content .questions p {
    font-size: 1.125rem;
    margin-top: 10px;
}

#main-content .questions details[open] i {
    transform: rotate(90deg);
}

#main-content .contact {
    padding: 50px;
}

#main-content .contact ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 700px;
    margin-inline: auto;
    margin-top: 30px;
    gap: 30px;
}

#main-content .contact li {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;
    text-align: left;
}

#main-content .contact a {
    color: black;
}

#main-content .contact li div {
    width: 100%;
    max-width: 32px;
    text-align: center;
}

#main-content .contact .map {
    max-width: 350px;
    height: auto;
    display: block;
}