@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Signika:wght@300..700&family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Special Gothic", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu nav {
    background-color: var(--newBackground);
    display: flex;
    padding: 10px 80px;
    height: 100%;
    max-height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0px 30px;
    gap: 35px;
    align-items: center;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: black;
    padding: 10px;
    position: relative;
}

.menu li a:hover {
    border-bottom: 3px solid var(--arcilla);
}


/* footer */
.footer footer {
    background-color: var(--footerBackground);
    padding: 10px 80px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.footer p {
    color: white;
    font-weight: 500;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer li i {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

body #main-content {
    flex: 1;
}

body #main-content h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 30px auto;
}

body #main-content h2 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

body #main-content h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

body #main-content button {
    font-family: "Oswald", sans-serif;
}