@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
    background-color: var(--newBackground);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 100px;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
}

.nav-wrapper a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: black;
    padding: 0.625rem;
}

.nav-wrapper ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 20px;
    align-items: center;
}

.submenu-wrapper {
    display: none;
    position: absolute;
    padding-top: 20px;
    margin-inline: auto;
}

.submenu-wrapper .submenu {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    align-items: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu-wrapper .submenu li {
    margin: 0;
    padding: 0;
}

.submenu-wrapper .submenu a {
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
}

.dropdown:hover .submenu-wrapper,
.submenu-wrapper:hover{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-wrapper {
    max-width: 200px;
}

.header img {
    max-width: 100%;
    display: block;
}

.header li a:hover {
    border-bottom: 3px solid var(--arcilla);
}


/* footer */
.footer footer {
    background-color: var(--darkBarro);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    min-height: 80px;
    gap: 30px;
    font-size: 18px;
}

.footer p {
    color: white;
    font-weight: 500;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer li i {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

body #main-content {
    width: 100%;
    margin-inline: auto;
    flex: 1;
}

body #main-content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

body #main-content h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

body #main-content h3 {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 500;
}

body #main-content button {
    font-family: "Oswald", sans-serif;
}