<header>
  <img src="images/about_header.png" alt="Pajapan" />
</header>
<section class="info">
  <div class="img-container">
    <img src="images/placeholder.png" alt="company" />
  </div>
  <div class="info-text">
    <h1>Nuestra compañía</h1>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas
      pintadas con sede en Pajapan, Veracruz. Fundada en 2021 por la familia
      Salas Martínez (Francisco, Artemia y su hija Génesis), mantiene viva una
      valiosa tradición cultural en el trabajo del barro, aprendida
      originalmente por Artemia de su madre.<br /><br />El principal valor de
      Matsin radica en la autenticidad de sus piezas únicas, totalmente hechas a
      mano, que conectan con la rica herencia de su comunidad y atraen tanto a
      clientes locales como a visitantes en ferias. Vender creaciones, impactan
      positivamente, reflejando su compromiso con la preservación y difusión
      cultural. Con la mirada puesta en el futuro, Matsin busca crecer
      diversificando productos, fortaleciendo su marca, invirtiendo en
      infraestructura esencial, expandiéndose a mercados digitales y
      profesionalizando su gestión.
    </p>
  </div>
</section>
<section class="info">
  <div class="info-text">
    <h1>Misión</h1>
    <p>
      Difundir el arte de la alfarería artesanal desarrollado en la comunidad de
      Pajapan, Veracruz, mediante la elaboración de piezas únicas de barro
      hechas completamente a mano. Promoviendo el valor del trabajo artesanal,
      contribuyendo al fortalecimiento económico y social de nuestra comunidad.
      Difundir el arte de la alfarería artesanal desarrollado en la comunidad de
      Pajapan, Veracruz, mediante la elaboración de piezas únicas de barro
      hechas completamente a mano. Promoviendo el valor del trabajo artesanal,
      contribuyendo al fortalecimiento económico y social de nuestra comunidad.
    </p>
  </div>
  <div class="img-container">
    <img src="images/placeholder.png" alt="mission" />
  </div>
</section>
<section class="info">
  <div class="img-container">
    <img src="images/placeholder.png" alt="vision" />
  </div>
  <div class="info-text">
    <h1>Visión</h1>
    <p>
      Consolidarnos en 6 años como una empresa líder en la producción y difusión
      de artesanías de barro a nivel nacional e internacional, reconocida por su
      autenticidad, compromiso con la cultura indígena y el impulso a la
      economía local. Aspiramos a ser un referente de sostenibilidad, innovación
      artística y preservación del patrimonio cultural mexicano.
    </p>
  </div>
</section>
<section class="values">
  <h1>Valores y principios</h1>
  <ul>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Tradición</h2>
        <p>
          Conservar y difundir con orgullo la tradición milenaria de la
          alfarería, honrando las raíces culturales en cada pieza que se
          elabora.
        </p>
      </div>
    </li>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Autenticidad</h2>
        <p>
          Crear productos artesanales únicos, hechos totalmente a mano, alejados
          de la industrialización para mantener su esencia y valor genuino.
        </p>
      </div>
    </li>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Creatividad</h2>
        <p>
          Explorar nuevas ideas y diseños innovadores, fusionando técnicas
          ancestrales con elementos artísticos contemporáneos.
        </p>
      </div>
    </li>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Calidad</h2>
        <p>
          Compromiso con ofrecer artesanías cuidadosamente elaboradas, con la
          atención minuciosa a cada detalle, asegurando así la excelencia en los
          productos.
        </p>
      </div>
    </li>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Responsabilidad social y cultural</h2>
        <p>
          Promover el arte local y el desarrollo de la comunidad mediante
          talleres educativos y colaboraciones que fortalecen el tejido social y
          cultural de Pajapan
        </p>
      </div>
    </li>
    <li>
      <div class="value-img">
        <img src="images/placeholder.png" alt="tradition" />
      </div>
      <div class="value-text">
        <h2>Pasión</h2>
        <p>
          Amor profundo por el oficio y con esfuerzo continuo para reflejar esa
          dedicación en cada artesanía.
        </p>
      </div>
    </li>
  </ul>
</section>
