<header>
  <img src="images/about_header.png" alt="Pajapan" />
</header>
<section class="info">
  <img src="images/company.png" alt="company">
  <div>
    <h2>Nosotros</h2>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas pintadas
      con sede en Pajapan, Veracruz. Fundada en 2021 por la familia Salas Martínez
      (Francisco, Artemia y su hija Génesis), mantiene viva una valiosa tradición
      cultural en el trabajo del barro, aprendida originalmente por Artemia de su
      madre.<br /><br />El principal valor de Matsin radica en la autenticidad de
      sus piezas únicas, totalmente hechas a mano, que conectan con la rica
      herencia de su comunidad y atraen tanto a clientes locales como a visitantes
      en ferias. Vender creaciones, impactan positivamente, reflejando su
      compromiso con la preservación y difusión cultural. Con la mirada puesta en
      el futuro, Matsin busca crecer diversificando productos, fortaleciendo su
      marca, invirtiendo en infraestructura esencial, expandiéndose a mercados
      digitales y profesionalizando su gestión.
    </p>
  </div>
</section>
<section class="info">
  <div>
    <h2>Misión</h2>
    <p>
      Difundir el arte de la alfarería artesanal desarrollado en la comunidad de
      Pajapan, Veracruz, mediante la elaboración de piezas únicas de barro
      hechas completamente a mano. Promoviendo el valor del trabajo artesanal,
      contribuyendo al fortalecimiento económico y social de nuestra
      comunidad. Difundir el arte de la alfarería artesanal desarrollado en la
      comunidad de Pajapan, Veracruz, mediante la elaboración de piezas únicas
      de barro hechas completamente a mano. Promoviendo el valor del trabajo
      artesanal, contribuyendo al fortalecimiento económico y social de nuestra
      comunidad.
    </p>
  </div>
  <img src="images/mission.png" alt="mission" />
</section>
<section class="info">
  <img src="images/vision.png" alt="vision" />
  <div>
    <h2>Visión</h2>
    <p>
      Consolidarnos en 6 años como una empresa líder en la producción y difusión
      de artesanías de barro a nivel nacional e internacional, reconocida por su
      autenticidad, compromiso con la cultura indígena y el impulso a la
      economía local. Aspiramos a ser un referente de sostenibilidad, innovación
      artística y preservación del patrimonio cultural mexicano.
    </p>
  </div>
</section>
<section class="values">
  <h2>Valores y principios</h2>
  <ul>
    <li>
      <img src="images/tradition.png" alt="tradition" />
      <div>
        <h3>Tradición</h3>
        <p>
          Conservar y difundir con orgullo la tradición milenaria de la
          alfarería, honrando las raíces culturales en cada pieza que se
          elabora.
        </p>
      </div>
    </li>
    <li>
      <img src="images/authenticity.png" alt="authenticity" />
      <div>
        <h3>Autenticidad</h3>
        <p>
          Crear productos artesanales únicos, hechos totalmente a mano, alejados
          de la industrialización para mantener su esencia y valor genuino.
        </p>
      </div>
    </li>
    <li>
      <img src="images/creativity.png" alt="creativity" />
      <div>
        <h3>Creatividad</h3>
        <p>
          Explorar nuevas ideas y diseños innovadores, fusionando técnicas
          ancestrales con elementos artísticos contemporáneos.
        </p>
      </div>
    </li>
    <li>
      <img src="images/quality.png" alt="quality" />
      <div>
        <h3>Calidad</h3>
        <p>
          Compromiso con ofrecer artesanías cuidadosamente elaboradas, con la
          atención minuciosa a cada detalle, asegurando así la excelencia en los
          productos.
        </p>
      </div>
    </li>
    <li>
      <img src="images/responsibility.png" alt="responsibility" />
      <div>
        <h3>Responsabilidad social y cultural</h3>
        <p>
          Promover el arte local y el desarrollo de la comunidad mediante
          talleres educativos y colaboraciones que fortalecen el tejido social y
          cultural de Pajapan
        </p>
      </div>
    </li>
    <li>
      <img src="images/passion.png" alt="passion" />
      <div>
        <h3>Pasión</h3>
        <p>
          Amor profundo por el oficio y con esfuerzo continuo para reflejar esa
          dedicación en cada artesanía.
        </p>
      </div>
    </li>
  </ul>
</section>
