<div class="wrapper">
  <h1 class="product-title" id="product-title">Barro</h1>
  <section class="filter" id="filters">
    <nav class="filter-nav" id="filter-nav">
      <ul>
        <li><a href="#" data-category="Todos">Todos</a></li>
        <li><a href="#" data-category="Cocina">Cocina</a></li>
        <li><a href="#" data-category="Decoración">Decoración</a></li>
        <li><a href="#" data-category="Organización">Organización</a></li>
      </ul>
    </nav>

    <nav class="subfilter-nav" id="subfilter-nav">
      <ul id="subfilter-list"></ul>
    </nav>
  </section>

  <section id="product-view">
    <ul class="product-list" id="product-list"></ul>
  </section>
</div>
