<section class="intro">
  <div class="intro-info">
    <h1>Conoce a los creadores</h1>
    <p>
      En el corazón del sur de Veracruz, en la comunidad de Pajapan, somos unos
      de los artesanos cuyas manos dan vida al barro. Nuestro oficio exige
      dedicación y habilidad, sentimos una profunda conexión con él, forjada en
      el respeto y la admiración por este conocimiento ancestral que nos permite
      transformar la tierra en arte. A través de nuestra labor conjunta,
      buscamos expresar nuestra creatividad y reflejar la belleza única que
      emerge del barro de Pajapan.
    </p>
  </div>
</section>
<section class="creators">
  <div class="creators-intro">
    <p>
      No solo llevamos una vida ejemplar y conectada a nuestro entorno a través
      del trabajo del barro, sino que continuamente contribuimos a enaltecer la
      identidad cultural de Pajapan y de la región.
    </p>
  </div>
  <div class="creators-info">
    <div class="creator-card">
      <h2>Francisco Salas</h2>
      <div class="img-container">
        <img src="images/varios/Foto 1.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Pajapan, Veracruz</h3>
        <h3>Barro al natural, tallado de madera</h3>
      </div>
      <p>
        Sus creaciones se inspiran en la cultura local y que modela con una gran
        facilidad usando materiales locales.
      </p>
    </div>
    <div class="creator-card">
      <h2>Artemia Martínez</h2>
      <div class="img-container">
        <img src="images/varios/Foto 2.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Pajapan, Veracruz</h3>
        <h3>Barro en miniatura</h3>
      </div>
      <p>
        Especialista en miniaturas detalladas y comales de barro, usando barro
        local.
      </p>
    </div>
    <div class="creator-card">
      <h2>Génesis Salas</h2>
      <div class="img-container">
        <img src="images/varios/Foto 3.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Pajapan, Veracruz</h3>
        <h3>Joyería</h3>
      </div>
      <p>Se especializa en joyerías detalladas y pintura acrílica.</p>
    </div>
  </div>
</section>
