<section class="intro">
  <div class="intro-info">
    <h1>Conoce a los creadores</h1>
    <p>
      En el sur de Veracruz, desde comunidades que creen en la solidaridad como motor de cambio, nace Solavit. Somos
      personas comprometidas que, con dedicación y empatía, trabajamos para transformar la ayuda en acciones reales.
      Cada esfuerzo está guiado por el respeto, la responsabilidad y el profundo valor de apoyar a quienes más lo
      necesitan.
    </p>
  </div>
</section>
<section class="creators">
  <div class="creators-intro">
    <p>
      No solo llevamos un compromiso social conectado con nuestro entorno, sino que continuamente contribuimos a
      enaltecer la solidaridad y el apoyo mutuo.
    </p>
  </div>
  <div class="creators-info">
    <div class="creator-card">
      <h2>Francisco Salas</h2>
      <div class="img-container">
        <img src="images/varios/Foto 1.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Coatzacoalcos, Veracruz</h3>
        <h3>Colaborador</h3>
      </div>
      <p>
        Comprometido con la logística de donaciones y la organización comunitaria.
      </p>
    </div>
    <div class="creator-card">
      <h2>Artemia Martínez</h2>
      <div class="img-container">
        <img src="images/varios/Foto 2.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Coatzacoalcos, Veracruz</h3>
        <h3>Voluntaria</h3>
      </div>
      <p>
        Especialista en atención a beneficiarios y clasificación de medicamentos.
      </p>
    </div>
    <div class="creator-card">
      <h2>Génesis Salas</h2>
      <div class="img-container">
        <img src="images/varios/Foto 3.jpg" alt="retrato" />
      </div>
      <div class="location-info">
        <h3>Coatzacoalcos, Veracruz</h3>
        <h3>Coordinadora</h3>
      </div>
      <p>Se enfoca en alianzas estratégicas y planificación de recolecciones.</p>
    </div>
  </div>
</section>