<section class="intro">
  <div class="intro-info">
    <h1>Conoce a los creadores</h1>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas
      pintadas con sede en Pajapan, Veracruz. Fundada en 2021 por la familia
      Salas Martínez (Francisco, Artemia y su hija Génesis), mantiene viva una
      valiosa tradición cultural en el trabajo del barro, aprendida
      originalmente por Artemia de su madre.
    </p>
  </div>
</section>
<section class="creators">
  <div class="creators-intro">
    <h1>Subtítulo</h1>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas
      pintadas con sede en Pajapan, Veracruz. Fundada en 2021 por la familia
      Salas Martínez (Francisco, Artemia y su hija Génesis), mantiene viva una
      valiosa tradición cultural en el trabajo del barro, aprendida
      originalmente por Artemia de su madre.
    </p>
  </div>
  <div class="creators-info">
    <div>
      <h2>Nombre Apellido</h2>
      <img src="images/placeholder.png" alt="retrato" />
      <div>
        <h3>Ciudad, Estado</h3>
        <h3>Puesto de trabajo</h3>
      </div>
      <p>
        Matsin es una organización familiar dedicada a la manufactura artesanal
        de alfarería, especialmente comales y artesanías detalladas
      </p>
    </div>
    <div>
      <h2>Nombre Apellido</h2>
      <img src="images/placeholder.png" alt="retrato" />
      <div>
        <h3>Ciudad, Estado</h3>
        <h3>Puesto de trabajo</h3>
      </div>
      <p>
        Matsin es una organización familiar dedicada a la manufactura artesanal
        de alfarería, especialmente comales y artesanías detalladas
      </p>
    </div>
    <div>
      <h2>Nombre Apellido</h2>
      <img src="images/placeholder.png" alt="retrato" />
      <div>
        <h3>Ciudad, Estado</h3>
        <h3>Puesto de trabajo</h3>
      </div>
      <p>
        Matsin es una organización familiar dedicada a la manufactura artesanal
        de alfarería, especialmente comales y artesanías detalladas
      </p>
    </div>
  </div>
</section>
