<header class="documentation-hero">
    <h1>Documentación Técnica</h1>
    <p>Explora la arquitectura y los detalles técnicos que hacen posible Solavit.</p>
</header>
<section class="documentation-content">
    <div class="doc-card">
        <h2>Diagrama de Despliegue</h2>
        <p>Visualiza cómo está estructurado el sistema de SOLAVIT y cómo interactúan los diferentes componentes en
            nuestro entorno de despliegue.</p>
        <a href="Documentation/diagrama-despliegue-solavit.html" target="_blank" class="btn-primary">
            Ver Diagrama <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
    </div>
</section>