<header class="header">
  <div class="wrapper">
    <div class="nav-wrapper">
      <a href="#home">
        <div class="logo-wrapper">
          <img src="images/matsin_logo_new.png" alt="Logo de Matsin" />
        </div>
      </a>
      <ul>
        <li class="dropdown">
          <a href="#products">Artesanías </a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li><a href="#woods">Maderas</a></li>
              <li><a href="#barro">Barro</a></li>
              <li><a href="#bisuteria">Bisutería</a></li>
              <li><a href="#all-products">Ver todos</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#impact">Impacto</a></li>
        <li><a href="#creators">Creadores</a></li>
        <li><a href="#about-us">Nosotros</a></li>
      </ul>
    </div>
  </div>
</header>
