<nav class="nav-header">
  <a href="#">
    <div class="logo-wrapper">
      <img src="images/matsin_logo.png" alt="Logo de Solavit" />
    </div>
  </a>

  <button id="mobile-nav-toggle" data-expanded="false" class="mobile-nav-toggle" onclick="openSidebar()"></button>

  <ul id="primary-navigation" data-visible="false" class="primary-navigation">
    <li><a href="#">Inicio</a></li>
    <li><a href="#donate">Donación</a></li>
    <li><a href="#creators">Creadores</a></li>
    <li><a href="#about-us">Nuestra compañía</a></li>
    <li><a href="#impact">Impacto</a></li>
    <li><a href="#education">Educación</a></li>
    <li><a href="#questions">Preguntas Frecuentes</a></li>
  </ul>
</nav>