<header>
  Del corazón de la tierra a tus manos
</header>
<section class="video-process">
  <h1>Años de historia</h1>
  <iframe
    width="800"
    height="450"
    src="https://www.youtube.com/embed/jbV9LWqVXcU"
    frameborder="0"
    allowfullscreen
  ></iframe>
</section>
<section class="creators">
  <div class="img-container">
    <img src="images/placeholder.png" alt="creators" />
  </div>
  <div class="creators-info">
    <h1>Conoce a los creadores</h1>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas
      pintadas con sede en Pajapan, Veracruz. Fundada en 2021 por la familia
      Salas Martínez (Francisco, Artemia y su hija Génesis), mantiene viva una
      valiosa tradición cultural en el trabajo del barro, aprendida
      originalmente por Artemia de su madre.
    </p>
    <a href="#creators">Ver más</a>
  </div>
</section>
<section class="process">
  <h1>Procesos</h1>
  <h2>Subtítulo</h2>
  <p>
    Matsin es una organización familiar dedicada a la manufactura artesanal de
    alfarería, especialmente comales y artesanías detalladas miniaturas pintadas
    con sede en Pajapan, Veracruz. Fundada en 2021 por la familia Salas Martínez
    (Francisco, Artemia y su hija Génesis), mantiene viva una valiosa tradición
    cultural en el trabajo del barro, aprendida originalmente por Artemia de su
    madre.
  </p>
  <div class="carousel-container">
    <div class="carousel">
      <img src="images/placeholder.png" alt="" />
      <i class="fa-solid fa-chevron-right fa-xl"></i>
      <img src="images/placeholder.png" alt="" />
      <i class="fa-solid fa-chevron-right fa-xl"></i>
      <img src="images/placeholder.png" alt="" />
      <i class="fa-solid fa-chevron-right fa-xl"></i>
      <img src="images/placeholder.png" alt="" />
      <i class="fa-solid fa-chevron-right fa-xl"></i>
      <img src="images/placeholder.png" alt="" />
    </div>
  </div>
</section>
