<header>
  <p>Del corazón de la tierra a tus manos</p>
</header>
<section class="video-process">
  <h2>Años de historia</h2>
  <iframe
    width="800"
    height="450"
    src="https://www.youtube.com/embed/jbV9LWqVXcU"
    frameborder="0"
    allowfullscreen
  ></iframe>
</section>
<section class="creators">
  <img src="images/placeholder.png" alt="creators" />
  <div class="creators-info">
    <h1>Conoce a los creadores</h1>
    <p>
      Matsin es una organización familiar dedicada a la manufactura artesanal de
      alfarería, especialmente comales y artesanías detalladas miniaturas
      pintadas con sede en Pajapan, Veracruz. Fundada en 2021 por la familia
      Salas Martínez (Francisco, Artemia y su hija Génesis), mantiene viva una
      valiosa tradición cultural en el trabajo del barro, aprendida
      originalmente por Artemia de su madre.
    </p>
    <a href="#creators">Ver más</a>
  </div>
</section>
<section></section>
