<header class="home-header">SOLAVIT: tecnología y solidaridad para cuidar la salud</header>
<section class="video-process">
  <h1>Lo que somos</h1>
  <div class="video-container" style="display: flex; justify-content: center; width: 100%;">
    <iframe class="video" style="aspect-ratio: 9/16; width: 100%; max-width: 400px; height: auto;"
      src="https://www.youtube.com/embed/Q4vUytDGzTc" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section class="creators">

  <div class="creators-info">
    <h1>Conoce a los creadores</h1>
    <p>
      Valoramos profundamente a las personas que, con su compromiso y
      solidaridad, hacen posible cada acción social. Reconocemos a donantes,
      voluntarios y colaboradores que dedican su tiempo, recursos y esfuerzo
      para transformar la ayuda en esperanza, bienestar y oportunidades reales
      para quienes más lo necesitan.
    </p>
    <a href="#creators">Ver más</a>
  </div>
</section>