<section class="social">
  <div class="info">
    <h1>Social</h1>
    <p>
      Ofrecemos talleres de alfarería donde los participantes pueden descubrir y
      practicar el arte de modelar el barro con técnicas tradicionales. En un
      entorno familiar y culturalmente rico, se enseña el proceso creativo desde
      la materia prima hasta la pieza final, fomentando la conexión con la
      tierra y el patrimonio de Pajapan, Veracruz.
    </p>
  </div>
  <div class="img-wrapper">
    <div class="img-container">
      <img src="images/impact/Social.jpg" alt="talleres1" />
    </div>
    <div class="img-container">
      <img src="images/impact/Social_2.jpg" alt="talleres2" />
    </div>
  </div>
</section>
<section class="ambiental">
  <div class="info">
    <h1>Ambiental</h1>
    <p>
      Matsin mantiene un firme compromiso con el respeto y la preservación del
      medio ambiente. Nuestros procesos de manufactura artesanal de alfarería se
      realizan de manera completamente manual, empleando técnicas tradicionales
      que no generan residuos tóxicos ni emisiones contaminantes.
      <br /><br />Trabajamos exclusivamente con materiales naturales, como el
      barro, el cual es recolectado de manera responsable para garantizar la
      sostenibilidad de su uso a largo plazo. El proceso de secado y cocción de
      nuestras piezas utiliza métodos que minimizan el consumo energético,
      evitando el uso de tecnologías que afecten negativamente al entorno.
    </p>
  </div>
  <div class="img-wrapper">
    <div class="img-container">
      <img src="images/impact/Ambiental.jpg" alt="ambiental1" />
    </div>
    <div class="img-container">
      <img src="images/impact/Ambiental_2.jpg" alt="ambiental2" />
    </div>
  </div>
</section>
