<button class="back-button" id="back-button" type="button">
  <i class="fa-solid fa-chevron-left"></i>Volver a artesanías
</button>
<div class="product-container">
  <div class="slider">
    <button id="prev" type="button">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <img id="slider-image" src="" alt="producto" />
    <button id="next" type="button">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <section class="product-info" id="product-info"></section>
</div>
