<div class="product-wrapper">
  <div class="route" id="route"></div>
  <div class="product-container">
    <div class="slider">
      <button id="prev" type="button">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <div class="img-wrapper">
        <img id="slider-image" src="" alt="producto" />
      </div>
      <button id="next" type="button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <section class="product-info" id="product-info"></section>
  </div>
</div>
