<h1>Artesanías</h1>
<section class="filter" id="filters">
  <nav class="filter-nav">
    <ul>
      <li><a href="#" data-category="todos">Todos</a></li>
      <li><a href="#" data-category="decoracion">Decoración</a></li>
      <li><a href="#" data-category="cocina">Cocina</a></li>
      <li><a href="#" data-category="organizacion">Organización</a></li>
    </ul>
  </nav>

  <div class="subfilter-nav" id="subfilter-nav">
    <ul id="subfilter-list"></ul>
  </div>
</section>

<section id="product-view">
  <div id="product-list"></div>
</section>
