<section class="questions">
  <h1>Preguntas frecuentes</h1>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Qué tipo de medicamentos puedo donar?
    </summary>
    <p>
      Puedes donar medicamentos nuevos, sin abrir y en buen estado, que se encuentren dentro de su fecha de caducidad y
      con su empaque original e información legible. No aceptamos medicamentos controlados o prohibidos por la normativa
      sanitaria.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Puedo donar medicamentos abiertos o sobrantes?
    </summary>
    <p>
      No. Por razones de seguridad y salud, Solavit únicamente acepta medicamentos cerrados y sin uso previo, para
      garantizar la integridad de los beneficiarios.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Dónde puedo entregar mis medicamentos?
    </summary>
    <p>
      Contamos con puntos de acopio autorizados, principalmente en universidades y espacios aliados. Al registrar tu
      donación en nuestro sitio web, podrás consultar el punto más cercano.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Ofrecen recolección a domicilio?
    </summary>
    <p>
      Sí. Para facilitar la participación, Solavit ofrece la opción de recolección a domicilio mediante servicios de
      transporte aliados, los cuales trasladan los medicamentos únicamente hacia los puntos de acopio autorizados.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Qué sucede con los medicamentos que no cumplen los requisitos?
    </summary>
    <p>
      Los medicamentos que no son aptos para donación se canalizan a un manejo y descarte responsable, evitando su
      desperdicio y mal manejo.
    </p>
  </details>
</section>
<section class="contact">
  <h1>Contacto</h1>
  <ul>
    <li>
      <div>
        <i class="fa-solid fa-phone fa"></i>
      </div>
      Redes sociales (Numero por crear)
    </li>
  </ul>
  <br />
  <h1>Súmate al cambio</h1>
  <p style="text-align: center; max-width: 600px; margin: 0 auto; line-height: 1.8;">
    Tu apoyo puede marcar la diferencia.
    <br />• Dona y ayuda a transformar vidas
    <br />• Comparte nuestras causas
    <br />• Involucra a tu comunidad
    <br /><br />
    <strong>Juntos podemos construir un futuro con más oportunidades para todos.</strong>
  </p>
</section>