<section class="questions">
  <h1>Preguntas frecuentes</h1>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>
      ¿Puedo comprar directamente en línea?
    </summary>
    <p>
      Nuestro catálogo es exclusivamente para consulta. Si deseas comprar,
      puedes contactarnos directamente a través de WhatsApp o redes sociales y
      con gusto te atenderemos de manera personalizada.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>¿Cómo busco un producto?
    </summary>
    <p>
      Puedes explorar el catálogo por categorías o deslizar para ver los
      diferentes diseños. Cada pieza incluye su nombre y descripción para
      ayudarte a identificar lo que estás buscando.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>¿Cómo puedo saber acerca del
      precio del producto?
    </summary>
    <p>
      Los precios no están incluidos en el catálogo, ya que varían según el
      tamaño, diseño y detalles personalizados. Para cotizar un producto, solo
      escríbenos y te daremos la información exacta.
    </p>
  </details>
  <details>
    <summary>
      <i class="fa-solid fa-chevron-right"></i>¿Cuáles son los métodos de pago?
    </summary>
    <p>
      Aceptamos pagos por transferencia bancaria y en efectivo. Te
      proporcionaremos los datos necesarios al momento de confirmar tu pedido.
    </p>
  </details>
</section>
<section class="contact">
  <h1>Contacto</h1>
  <ul>
    <li>
      <div>
        <i class="fa-solid fa-phone fa"></i>
      </div>
      419 139 7502
    </li>
    <li>
      <div>
        <i class="fa-brands fa-facebook fa"></i>
      </div>
      <a href="https://www.facebook.com/share/1LwKxxC6be/" target="_blank"
        >Página de Facebook</a
      >
    </li>
    <li>
      <div>
        <i class="fa-brands fa-instagram fa"></i>
      </div>
      <a href="https://www.instagram.com/matsin.site?igsh=czJuOTV2MjBjbGI2" target="_blank">Perfil de Instagram</a>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-location-dot"></i>
      </div>
      Paseo de la Reforma, Pajapan, Veracruz, México.
    </li>
  </ul>
</section>
